
figcaption{
	font-size: small;
}

#quizBereich, #eingabeFormular
{
	margin-left: 4%;
	margin-right: 4%;
}

/*Hinweis fuer den Benutzer*/
.hinweisfarbe
{
	color: yellow;
	text-shadow: 2px 1px #3e3c3d;
}

/*den Quizbereich durch eine andere Hintergrundfarbe abgrenzen*/
.hierEntstehtQuiz
{
	background-color: #cac7e0;

}

/*Position*/
.alleFragen
{
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 4%;
	margin-top: 4%;
}

/*gecheckte Checkboxen verändern die Farbe*/
input[type=checkbox]:checked ~ label
{
	color: #007ea1;
}

/*gecheckte Radiobutton verändern die Farbe*/
input[type=radio]:checked ~ label
{
	color: #0093a1;
}

/*Cursor wird zu einer Hand*/
ul li label
{
	cursor: pointer;
}

/*Wenn die Maus über Listeeintraege geht */
ul li:hover label
{
	color: #007ea1;
}

/*bei falscher Eingabe der Fragen werden diese ausgeblendet und rot gefärbt*/
input[type=radio]:disabled ~ label
{
	color: red;
}

.korrekturAngaben
{
	border-color: transparent;
	background-color: transparent;
	background: transparent;
}

fieldset ul li #versucheID #antwortRichtigID #anzahlFalschID #prozentID
{
	margin-bottom: 5px;
}









