
form
{
	padding-left: 25px;
}

form *
{
	font: 16px sans-serif; /* für alle folgenden elemente auch buttons */
}

form p
{
	font: bold 22px sans-serif;
}

.falseInput
{
	border-color: red;
	background-color: #F7D5D5;
}


