
table
{
 border-spacing: 0;
 font: 18px helvetica, arial, sans-serif;
 margin : 30px auto;
 box-shadow : 10px 10px 10px 0 grey;

}


th
{
 color: white;
 background-color: #479bf5;
 padding: 10px;

 text-align: left;
 font-weight: bold;
 font-size: 18px;
}


th:nth-child(n+2)
{
 border-left: 2px solid black;
}

th
{
 border-bottom: 2px solid black;
}


tr
{
 height: 35px;
}

#preisRechner, #ergebnis
{
	margin-left : 4%;
}

#ergebnis
{
	font-weight : bold;
	font-color : #479bf5;
	
	margin : 20px 20px;
}

h1
{
	margin-left: 0;
}

td
{
 padding: 5px;
 text-align: center;
}

td:nth-child(n+2)
{
 border-left: 2px solid #479bf5;
}

.gerade
{
 background-color: #F8FACF;
}

.ungerade
{
 background-color: #CFDAFA;
}

.gruenGerade
{
 background-color: #6BED6D;
}

.gruenUngerade
{
 background-color: #96FAA2;
}
