.benutzerInfo
{
    padding: 25px 50px;

}

.a{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-top: 25px;
	border: 1px solid ;
}

.quizButton2
{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-top: 25px;
}


.schwierigkeit
{
	padding-bottom: 25px;
	padding-top: 25px;
}


.kategoryHeader{
	padding-bottom: 25px;
	padding-top: 25px;
}

.kategoryHeader{
	padding-bottom: 10px;
	padding-top: 10px;
}

.fehlermeldung{
	padding-left: 50px;
	font-weight : bold;
	color: red;
}

#quizBereich, #eingabeFormular
{
	margin-left: 4%;
}

