.fehlermeldung
{
	padding-left: 50px;
	font-weight : bold;
	color: red;
}

#quizBereich, #eingabeFormular
{
	margin-left: 4%;
	margin-right: 4%;
}

.hinweisfarbe
{
	color: yellow;
	text-shadow: 2px 1px #3e3c3d;
}

.hierEntstehtQuiz
{
	background-color: #cac7e0;

}

.alleFragen
{
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 4%;
	margin-bottom: 4%;
}

table{
	padding-bottom: 10px;
}

tr{
	text-align: justify;
}

