/***************/
/***Allgemein***/
/***************/

*
{
	font-size:20px;
}

p
{
	width : 70%;
}

/*Die "Hintergrundfarbe"*/
html
{
	background-color: white;	
	height: 100%;
}

/*Der Body soll sich vom Hintergrund abheben*/
body
{
	margin : 0px 10%;
	background : linear-gradient(#D0D7F2, #9BA9E0);
	font: 15px sans-serif;
}

ul
{	
	padding: 0px; /*Setze das Vordefinierte Padding von ul auf 0px*/
	list-style-type: none;	
}

/*Die Darstellun des großen Bildes am Seitenanfang*/
header img
{
	width: auto;
	height: auto;
	float: left;
}





/*********************************************/
/***Die Darsellung des Navigations-Bereichs***/
/*********************************************/
nav
{
	background-color: white;
	width : 100%;
}

/*Um die Navigationsleiste auf die gesammte Breite zu strecken,
wird die Liste als Tabelle "behandelt"*/
nav ul
{
	list-style: none;
	margin:0;
	padding:0;
	display: table;
	width: 100%;
}

/*Hier werden die Listenelemnte/Menüpunkte geformt*/
nav li
{
	text-align: center;
	display: table-cell;
	line-height: 40px;
	padding: 14px 4% 12px 4%;
	margin : 0px;
	font-size: x-large;
}

/*Beim anvisieren mit der Maus, soll der Menüpunkt einen grauen Hintergrund bekommen*/
nav li:hover
{
	background-color: #e6e6e6;
	cursor: pointer;
}

/*Hier wird der Text der Menüpunkte dargestellt*/
nav a
{
	color: black;
	text-decoration: none;
	font-size: x-large;
}

/*Das active Element der jeweiligen Seite wird bläulich dargestellt*/
#activeNav
{
	background-color: #78C9FF;
}





/***************************************/
/***Die Darstellung des Main-Bereichs***/
/***************************************/
article *
{
	margin-left : 4%;
}

/*Alle weiter verschachtelten Elemente sollen kein margin left mehr haben*/
article * *
{
	margin-left : 0px;
}

article img 
{
	border-radius : 15px;/*CSS3 rounded borders property*/
}

/*Alle h1 Überschriften...*/
h1
{
	background-color: #479bf5;
	font-size: x-large;
	color: white;
	padding-left: 25px;
	
	margin-left : 0px;/*Setze den Margin des "articles *" zurück*/
}

h2{
	font-size: x-large;
}

h3{
	font-font-weight: bold;
}

:hover .Button
{
	cursor: pointer;
}

.gruppe
{
	margin-bottom: 2px;
	font-size: large;
}

/*Wenn der Bentzer etwas falsch eingibt*/
.fehlermeldung
{
	padding-left: 24px;
	font-weight : bold;
	color: red;
}

.fehlermeldung
{
	padding-left: 30px;
	font-weight : bold;
	color: red;
}




/*****************************************/
/***Die Darstellung des Footer-Bereichs***/
/*****************************************/
footer
{
	width: 100%;
	background-color: #479bf5;
}

footer ul
{
	padding: 25px;
}

footer ul li
{
	display: inline;
	padding-right: 20px;
}

footer a
{
	color: white;
	font: 18px sans-serif;
}

footer a:hover
{
	color: black;
}